:root {
    --black: rgba(44, 62, 80, 1);
    --green: rgba(26, 188, 156, 1);
    --white: rgba(255, 255, 255, 1);
    --grey: rgba(58, 84, 109, 1);
    --dark-grey: rgba(44, 62, 80, 1);
}

/* ! COMMON */
body {
    background-color: var(--white);
    color: var(--black);
}

.my-bg-black {
    background-color: var(--black);
}

.my-text-black {
    color: var(--black);
}

.my-bg-green {
    background-color: var(--green);
}

.my-bg-grey {
    background-color: var(--grey);
}

.my-bg-dark-grey {
    background-color: var(--dark-grey);
}

/* ! MAIN */
/* ! Sezione Hero */
#hero {
    padding-top: 10rem;
    padding-bottom: 4rem;
}

.icon, .icon-dark {
    display: flex;
    align-items: center;
}

.fa-star {
    margin: 0 30px;
}

.icon::after {
    content: '';
    display: block;
    width: 100px;
    border: 2px solid var(--white);
    border-radius: 3px;
}

.icon::before {
    content: '';
    display: block;
    width: 100px;
    border: 2px solid var(--white);
    border-radius: 3px;
}

.icon-dark::after {
    content: '';
    display: block;
    width: 100px;
    border: 2px solid var(--black);
    border-radius: 3px;
}

.icon-dark::before {
    content: '';
    display: block;
    width: 100px;
    border: 2px solid var(--black);
    border-radius: 3px;
}

.avatar {
    width: 45%;
    max-width: 100%;
}

/* ! Sezione Portfolio */
#portfolio img {
    width: 100%;
}

.round-img {
    border-radius: 10px;
}

/* ! HEADER */
header {
    background-color: var(--black);
    position: fixed;
    height: 90px;
    top: 0;
    width: 100%;
}